* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box; box-sizing: border-box;
}

/* body rules here */

body {
    font-family: verdana;
    font-size: 16px;
}

/* Header Rules Here */

header {
    background-color: aquamarine;
    padding: 1rem 2%;
}

header h1 {
margin: 0;
}

header h2 {
margin: 0;
}

/* navigation rules here*/

nav {
    background-color: black;
}

nav ul {
    margin: 0; 
    padding: 0;
}

nav li {
    list-style: none;
}

nav li.active {
    background-color: darkgray;
}

nav a {
    display: block;
    padding: .8rem;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
}


/* main rules here*/

main{
    padding: 1rem 2%;
    display: block;
}

main h1 {
    color: aquamarine;
}

main figure img {
    width: 100%;
}
main figure{
    width: 100%;\
    margin: 0;
}

main figcaption {
    text-align: center;
    font-size: .8rem;
}

footer{
    text-align: center;
    padding: 1rem 2%;
    background-color: aquamarine;
}







.clearfix:after {
    content: "";
    display: table;
    clear: both;
}