@media only screen and (min-width: 560px) {

nav li {
    float: left; width: 25%;
}

main figure {
    float: right;
    width: 50%;
    margin-left: 2%;
}

div.news {
    clear: both;
    column-count: 3;
    column-rule: 1px solid white;
}



main figure img {
    width: 66.6%;
}
main figure{
    width: 66.6%;
    margin: 0;
}



} /* end of media query*/